@model IEnumerable<BYU_I.ViewModels.EnrolmentDateGroup>

@{
	ViewBag.Title = "Student Body Statistics";
}

<h2>About</h2>

<ul>
    <li>Todd Rhodes</li>
    <li>BYU_I</li>
    <li>todd@fake.com</li>
	<li><a>Whatsapp</a>0342-1527071</li>
</ul>
